body {
  color: white;
  text-align: center;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/blueprints.jpg');
}

a, a:hover, a:visited {
  color: white;
  font-weight: bold;
}

.construction {
  color: #ffaa00;
}

.title {
  font-weight: bold;
}

.cover-wrap {
  display: table;

  width: 100%;
  height: 100%;
  background-color: rgba(0,55,155,0.8);
  /*-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  -moz-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}

.inner-wrap {
  vertical-align: middle;
  background-color: transparent;
}

.inner-wrap > .footer > .container {
  border-top: 1px solid white;

  padding: 30px 0;
  margin-top: 60px;

  font-weight: bold;
}

.masthead {
  padding-top: 30px;
  padding-bottom: 15px;
}

.masthead-brand {
  margin: 0;
}

.masthead-brand > img {
  height: 250px;
}

.mastfoot {
  position: fixed;
  bottom: 0;

  text-align: center;
  display: inline;
}

.thumbnail {
  border: none;
  background-color: transparent;
}

.thumbnail > .caption {
  color: white;
}
